@import "tailwindcss";

:root {
  --color-primary: #0f172a;
  --color-secondary: #64748b;
  --color-accent: #020203;
  --color-background: #858687;
  --color-success: #16a34a;
  --color-danger: #dc2626;
}
