@import "tailwindcss";

:root {
  --color-primary: #0f172a;
  --color-secondary: #64748b;
  --color-accent: #3b82f6;
  --color-background: #f8fafc;
  --color-success: #16a34a;
  --color-danger: #dc2626;
}
